.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tworow{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tex{
    width: 50%;
    height: 609px;
    display: grid;
    place-items: center;
}
.center{
    width: 450px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center h1{
    font-size:54px;
    margin-bottom: 20px;
}
.center p{
    font-size: 16px;
    font-weight: 400;
}
.ime{
    height: 609px !important;
    width:705px   !important;
}
.ime img{
    object-fit: fill !important;
        height: 609px !important;
    width:705px   !important;
}

@media (max-width: 992px){
    .ime{
        display:none
    }
    .center{
	margin-left:30px !important;
	padding:0 100px !important;
}
}
